body{
    background-color: #f1f1f1;
    margin: 0;
}
/*Diseño de navbar horizontal*/

.navbar{
    background-color: rgb(21, 87, 145);
}

.LogoDashboard{
      width:3rem;
}

/*Menu vertical estilo*/
.menuV{
    background:rgb(39, 52, 69);
    width: 16rem;
    height: 100vh;
    color: white;
    padding: 18px;
}

/*Opciones*/
.btn{
    background-color:#4a6a7d;
    width:13.5rem;
    height:3rem;
    color:white;
    border:solid 1px white;
}

.btn:hover{
   background-color:#98afbd;
    color: #1f282c;
}

.title{
    margin-left: 20px;
    width: 62rem;
}

.Montos{
   display:flex;
   flex-direction:row;
   gap:34px;
}
